{% extends 'admin-layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/chefs/chefs.css">
{% endblock styles %}

{% block header %}
    <form action="/admin/chefs" method="get" id="search">
        <input type="text" name="filter" value="{{ filter }}" placeholder="Procurar um chef">
        <button type="submit" class="button">
            <span class="material-icons">
                search
            </span>
        </button>
    </form>
{% endblock header %}

{% block content %}
    <div class="chef-title">
        <h3>Gerenciar chefs</h3>
        <a href="/admin/chefs/create" class="button">Novo chef</a>
    </div>
    <div class="cards-container">
        {% for chef in chefs %}
            <div class="card-admin" id="{{chef.id}}">
                <img src="{{ chef.avatar_url}}" alt="{{ chef.name}}">
                <div class="title">
                    <h4>{{ chef.name}}</h4>
                    <a href="#" id="view">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/main.js"></script>
{% endblock scripts %}