{% extends 'admin-layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/chefs/chef.css">
{% endblock styles %}

{% block content %}
    <section class="chef-profile">
        <div class="chef-title">
            <h2>Chef:
                {{chef.name}}</h2>
            <a href="/admin/chefs/{{ chef.id }}/edit" class="button">Editar chef</a>
        </div>
        <div class="chef-avatar">
            <img src="{{ avatar[0].src}}" alt="{{ chef.name }}">
            <h1>{{chef.name}}</h1>
            <p>{{ chef.totalRecipes }}
                {% if chef.recipes_name %}
                    {% if totalRecipes == 1 %}
                        Uma receita
                    {% elif totalRecipes > 1%}
                        {{totalRecipes}}
                        Receitas
                    {% endif %}
                {% elseif totalRecipes > 1 %}
                    Receitas
                {% else %}
                    Nenhuma Receita encontrada
                {% endif %}
            </p>
        </div>
    </section>

    <div class="chef-recipes">
        {% if chef.recipes_name %}
            <h2>Receitas</h2>
            <div class="cards-container">

                {% for recipe in recipes %}
                    <div class="card-admin" id="{{recipe.recipes_id}}">
                        <img src="{{ recipe.recipes_image }}" alt="{{ recipe.recipes_name}}">
                        <div class="title">
                            <h4>{{ recipe.recipes_name}}</h4>
                            <p>Por
                                {{ recipe.name}}</p>
                            <a href="/recipes/{{ recipe.recipes_id}}" id="view">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/main.js"></script>
{% endblock scripts %}