{% extends 'admin-layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/chefs/form.css">
{% endblock styles %}

{% block content %}
    <form action="/admin/chefs" method="POST">
        <section class="container">
            <div class="title">
                <h3>Criando chef</h3>
            </div>
            <div class="fields">
                {% include 'admin/chefs/fields.njk' %}
            </div>
            <div class="send">
                <button type="submit" class="button">Salvar chef</button>
                {# <button type="submit" class="button btn-clean">Apagar campos</button> #}
            </div>
        </section>
    </form>
{% endblock content %}