{% extends 'admin-layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/chefs/edit.css">
{% endblock styles %}

{% block content %}
    <form id="form-save" method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
        <section class="container">
            <div class="aside">
                <div class="title">
                    <h3>Editando chef</h3>
                    <img src="{{ chef.avatar_url}}" alt="{{ chef.name}}">
                </div>
                <div class="fields">
                    {% include 'admin/chefs/fields.njk' %}
                    <input type="hidden" name="id" value="{{chef.id}}">
                </div>
            </div>
            <div class="send">
                <button type="submit" form="form-save" class="button">Salvar chef</button>
                <button type="submit" form="form-delete" class="button btn-clean">Apagar chef</button>
            </div>
        </section>
    </form>
    <form action="/admin/chefs?_method=DELETE" method="post" id="form-delete">
        <input type="hidden" name="id" value="{{chef.id}}">
    </form>
{% endblock content %}

{% block modal %}
    <div id="modal">
        <input type="hidden" name="popup" value={{chef.recipes_name}}>
        <div class="box">
            <h3>Desculpe, mas você não pode apagar um chef que possui receitas.</h3>
            <h5 id="ok">OK</h5>
        </div>
    </div>
{% endblock modal %}