<div class="item center">
    <div>Foto</div>
    <div id="photos-preview">
        {# <img src="/assets/cat.png" alt=""> #}
    </div>
    <div id="photos-upload">
        <input type="file" name="chef_photos" id="photos-input" multiple accept="images/*" onchange="PhotosUpload.handleFileInput(event)"> 
        <span class="upload-button">Enviar avatar</span>
    </div>
</div>
<div class="item">
    <div>Nome</div>
    <div><input type="text" name="name" value="{{ chef.name}}"></div>
</div>
