<div class="item center">
    <div>Foto</div>
    <div id="photos-preview">
        {% if avatar %}
            <div id="{{chef.file_id}}" class="photo">
                <img src="{{ avatar[0].src}}" alt="{{ chef.name }}">
                <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">
                    delete
                </i>
            </div>
        {% endif %}
            <input type="hidden" name="removed_files">
    </div>
    <div id="photos-upload">
        <div class="photo">
            <input type="file" name="chef_photos" id="photos-input" multiple="multiple" accept="images/*" onchange="PhotosUpload.handleFileInput(event)">
        </div>
        <span class="upload-button">Enviar avatar</span>
    </div>
</div>
<div class="item">
    <div>Nome</div>
    <div><input type="text" name="name" value="{{ chef.name}}"></div>
</div>