{% extends 'layout.njk' %}

{% block styles %}
{% endblock styles %}

{% block content %}

<form action="/admin" method="post">
<section class="container">
    <div class="title">
        <h3>Criando receita</h3>
        <a href="#">Salvar receita</a>
    </div>
    {% include 'admin/fields.njk' %}
</section>
</form>

{% endblock content %}