<div class="item">
    <div>Imagem da receita</div>
    <div><input type="url" name="image" value="{{ recipes.image}}"></div>
</div>
<div class="item">
    <div>Nome da receita</div>
    <div><input type="text" name="name" value="{{ recipes.name}}"></div>
</div>
<div class="item">
    <div>Autor da receita</div>
    <div><input type="text" name="author" value="{{ recipes.author}}"></div>
</div>
<div id="ingredients" class="item">
    <div>Ingredientes</div>
    <div class="ingredient">
        <input type="text" name="ingredients[]" value="{{ recipes.ingredients}}" placeholder="Ingredient">
    </div>
</div>
<div class="newButton">
    <button type="button" class="add-ingredient">Add new Ingredient</button>
</div>
<div class="item">
    <div>Modo de preparo</div>
    <div><input type="text" name="preparation" value="{{ recipes.preparation }}"></div>
    <div>
        <a href="#">Adicionar novo passo</a>
    </div>
</div>
<div class="item">
    <div>Informações adicionais</div>
    <div><input type="text" name="additional_info" value="{{ recipes.additional_info}}"></div>
</div>

<script src="/scripts/fields.js"></script>