<div class="item">
    <div>Imagem da receita</div>
    <div><input type="url" name="image" value="{{ recipes.image}}"></div>
</div>
<div class="item">
    <div>Nome da receita</div>
    <div><input type="text" name="name" value="{{ recipes.name}}"></div>
</div>
<div class="item">
    <div>Autor da receita</div>
    <div><input type="text" name="author" value="{{ recipes.author}}"></div>
</div>
<div class="item">
    <div>Ingredientes</div>
    <div><input type="text" name="ingredients" value="">
    </div>
    <div>
        <a href="#">Adicionar novo ingrediente</a>
    </div>
</div>
<div class="item">
    <div>Modo de preparo</div>
    <div><input type="text" name="preparation"></div>
    <div>
        <a href="#">Adicionar novo passo</a>
    </div>
</div>
<div class="item">
    <div>Informações adicionais</div>
    <div><input type="text" name="aditional_info" value=""></div>
</div>