<div class="item">
    <div>
        <label for="image_url">Imagem da receita</label>
    </div>
    <div><input type="url" name="image_url" value=""></div>
</div>
<div class="item">
    <div>
        <label for="ingredients">Ingredientes</label>
    </div>
    <div><input type="text" name="ingredients" value="">
    </div>
    <div>
        <a href="#">Adicionar novo ingrediente</a>
    </div>
</div>
<div class="item">
    <div>
        <label for="preparation">Modo de preparo</label>
    </div>
    <div><input type="text" name="preparation"></div>
    <div>
        <a href="#">Adicionar novo passo</a>
    </div>
</div>
<div class="item">
    <div>
        <label for="aditional_info">Informações adicionais</label>
    </div>
    <div><input type="text" name="aditional_info" value=""></div>
</div>