{% extends 'admin/layout-admin.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/recipes.css">
{% endblock styles %}

{% block content %}

    <div class="cards-container">
        {% for recipe in recipes %}
            <div class="card" id="{{recipe.id}}">
                <img src="{{ recipe.image}}" alt="{{ recipe.name}}">
                <h4>{{ recipe.name}}</h4>
                <p>{{ recipe.author}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/index.js"></script>
{% endblock scripts %}