{% extends 'admin-layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/users/home.css">
{% endblock styles %}

{% block content %}
    <form action="/admin/users?_method=PUT" method="POST" id="form-save">
        <section class="container edit">
            <div class="title">
                <h3>Atualizar Usuário</h3>
                <div class="send">
                    <button form="form-save" type="submit" class="button save">Salvar</button>

                    <button form="form-delete" type="submit" class="button">Deletar</button>
                </div>
            </div>
            <div class="fields">
                <div class="item">
                    <div>Nome</div>
                    <div><input type="text" name="name" value="{{ user.name}}" onblur="Validate.apply(this, 'inputName')"></div>
                </div>

                <div class="item">
                    <div>Email</div>
                    <div>
                        <input type="text" name="email" value="{{ user.email}}" onkeydown="Mask.apply(this, 'isEmail')" onblur="Validate.apply(this, 'isEmail')"></div>
                </div>
            </div>
            <input type="hidden" name="id" value="{{user.id}}">
            <form id="form-delete" action="/admin/users?_method=DELETE" method="POST"></form>
        </section>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/main.js"></script>
{% endblock scripts %}