<div class="item">
    <div>Nome</div>
    <div><input type="text" name="name" value="{{ user.name}}"
    onblur="Validate.apply(this, 'inputName')"></div>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <input type="text" name="email" value="{{ user.email}}" onkeydown="Mask.apply(this, 'isEmail')" onblur="Validate.apply(this, 'isEmail')"></div>
</div>

<div class="item checkbox">
    <input type="checkbox" name="is_admin" {% if checked  %} value="false" {% else %} {% endif %}>
    <div>Administrador</div>
</div>