{% extends 'admin-layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/users/home.css">
{% endblock styles %}

{% block content %}
    <form action="/admin/users?_method=PUT" method="POST">
        <section class="container">
            <div class="title">
                <h3>Bem Vindo  {{user.name}}</h3>
            </div>
            <div class="fields">
                {% include 'admin/users/fields.njk' %}
            </div>

            <div class="send">
                <button type="submit" class="button">Salvar chef</button>
            </div>
        </section>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/main.js"></script>
{% endblock scripts %}