{% extends 'admin-layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/chefs/chef.css">
{% endblock styles %}

{% block content %}
    <section class="user-profile">
        <div class="user-title">
            <h2>Chef:
                {{user.name}}</h2>
            <a href="/admin/users/{{ user.id }}/edit" class="button">Editar user</a>
        </div>
        <div class="user-avatar">
            <img src="{{ userFile.path }}" alt="{{ user.name }}">
            <h1>{{user.name}}</h1>
            <p>
                {% if user.total_recipes == 1 %}
                    Uma receita
                {% elif user.total_recipes > 1%}
                    {{user.total_recipes}}
                    Receitas
                {% else %}
                    Nenhuma Receita encontrada
                {% endif %}
            </p>
        </div>
    </section>

    <div class="user-recipes">
        {% if user.total_recipes >= 1 %}
            <h2>Receitas</h2>
            <div class="cards-container">
                {% for recipe in recipes %}
                    <div class="card-admin" id="{{recipe.id}}">
                        <img src="{{ recipe.image }}" alt="{{ recipe.title}}">
                        <div class="title">
                            <h4>{{ recipe.title}}</h4>
                            <p>Por
                                {{ recipe.name}}</p>
                            <a href="/recipes/{{ recipe.id}}" id="view">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/main.js"></script>
{% endblock scripts %}