{% extends 'admin-layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/users/adminHome.css">
{% endblock styles %}

{% block header %}
    <form action="/admin/users" method="get" id="search">
        <input type="text" name="filter" value="{{ filter }}" placeholder="Procurar um user">
        <button type="submit" class="button">
            <span class="material-icons">
                search
            </span>
        </button>
    </form>
{% endblock header %}

{% block content %}
    <section class="grid">
        <div class="user-title">
            <h3>Usuários</h3>
            <a href="/admin/users/create" class="button">Novo Usuário</a>
        </div>
        <div class="cards-container">
            {% for user in users %}
                <div class="card-admin" id="{{user.id}}">
                    <div class="title">
                        <h4>{{ user.name}}</h4>
                        <p>{{user.email}}
                        </p>
                        <div class="manage">
                            <a href="/admin/users/{{user.id}}" id="view">Editar</a>
                            <form action="/admin/users?_method=DELETE" method="post">
                                <button type="submit" >Deletar</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination" data-page={{pagination.page}}  data-total={{pagination.total}} data-filter={{filter}}>
            {% if pagination.page == 1 %}
                <span class="deactivated">Anterior</span>
            {% elif pagination.page > 1%}
                <a href="{{pagination.page}} - 1">Anterior</a>
            {% endif %}
            <div class="pagination-pages"></div>
            {% if pagination.total == 1 %}
                <span class="deactivated">Próxima</span>
            {% elif pagination.total > 1%}
                <a href="{{pagination.page}} + 1">Próxima</a>
            {% elif pagination.total == pagination.page %}
                <span class="deactivated">Próxima</span>
            {% endif %}
        </div>
    </section>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/main.js"></script>
{% endblock scripts %}