.title {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin: 2em 0;
    /* align-self: center; */
}

.title img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2em;
}

.title h3::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--desc-color);
    position: absolute;
    top: 30px;
    border-radius: 50%;
    left: 0;
    opacity: 0.3;
}

.title h3 {
    font-size: 2.2rem;
    margin-bottom: 1em;
    color: var(--primary-txt-color);
    position: relative;

}

.item {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--secondary-txt-color);
}

.send {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.send button:nth-child(1) {
    justify-self: end;
}

.send button:nth-child(2) {
    justify-self: start;
}

.button {
    margin-right: 0.5em;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;

    background: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.send .btn-clean {    
    background: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
}

.delete {
    background: var(--desc-color);
}

input {
    width: 100%;
    outline: none;
    border: 1px solid var(--desc-color);
    color: var(--input-txt-color);
    padding: 1em;
    border-radius: 0.5em;
    opacity: 0.7;
    margin: 0.5em 0;
}

.newButton button {
    margin: 0.5em 0 1em;
    font-size: 1.4rem;
    font-weight: 700;
    display: block;
    color: var(--primary-color);
    background: none;
}

.aside {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    margin-bottom: 2em;
}

.fields {
    align-self: center;
}

body {
    overflow: hidden;
}

.content {
    position: relative;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr;
    display: none;
}

#modal .box {
    background: var(--white-color);
    text-align: center;
    width: 500px;
    height: 200px;
    align-self: center;
    justify-self: center;
    display: grid;
}

#modal .box h3 {
    align-self: center;
    margin: 2em 4em 1em;
    position: relative;
}

#modal .box h3::after {
    content: '';
    width: 400px;
    height: 2px;
    background: var(--desc-color);
    position: absolute;
    top: 80px;
    border-radius: 50%;
    left: -20px;
    opacity: 0.3;
}

#modal .box a {
    align-self: end;
    margin-bottom: 2em;
    font-weight: 500;
    color: var(--primary-color);
}