<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="styles/main.css">
        {% block styles %}{% endblock styles %}
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

        {% block title %}
            <title>Teste</title>
        {% endblock title %}

    </head>
    <body>
        <header>
            <div class="links">
                <a href="/portfolio">Aulas</a>
                <a href="/">Home</a>
                <a href="/about">Sobre</a>
            </div>
        </header>

        {% block content %}{% endblock content %}

        {% block script %}{% endblock script %}
    </body>
</html>