{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="styles/recipes.css">
{% endblock styles %}

{% block content %}
    <section>
        <div class="cards-container">
            {% for recipe in recipes %}
                <div class="card">
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    <h4>{{ recipe.title }}<h4>
                    <p>{{ recipe.author }}</p>
                </div>
            {% endfor %}

        <div class="modal hide">
                        <div class="modal-content">
                            <div class="close-section">
                                <div class="close-toggle">
                                    <div class="one"></div>
                                    <div class="two"></div>
                                </div>
                            </div>
                        </div>
        </div>



{% endblock content %}

{% block scripts %}
 <script src="/scripts/recipe-modal.js"></script>
{% endblock scripts %}
