<div class="item">
    <div>Imagem da receita</div>
    <div><input type="url" name="image" value="{{ recipes.image}}"></div>
</div>
<div class="item">
    <div>Nome da receita</div>
    <div><input type="text" name="title" value="{{ recipes.title}}"></div>
</div>
{# <div class="item">
    <div>Autor da receita</div>
    <div><input type="text" name="author" value="{{ recipes.author}}"></div>
</div> #}

<div id="ingredients" class="item">
    <div>Ingredientes</div>
    {% if not recipes.ingredients %}
        <div class="ingredient">
            <input type="text" name="ingredients[]" value="" placeholder="Novo ingrediente">
        </div>
    {% endif %}
    {% for ingredient in recipes.ingredients %}
        <div class="ingredient">
            <input type="text" name="ingredients[]" value="{{ ingredient }}">
        </div>
    {% endfor %}

</div>
<div class="newButton">
    <button type="button" class="add-ingredient">Add new Ingredient</button>
</div>

<div id="preparation" class="item">
    <div>Modo de preparo</div>
    {% if not recipes.preparation %}
        <div class="preparation">
            <input type="text" name="preparation[]" value="" placeholder="Adicione um modo de preparo">
        </div>
    {% endif %}
    {% for prepare in recipes.preparation %}
        <div class="preparation">
            <input type="text" name="preparation[]" value="{{ prepare }}">
        </div>
    {% endfor %}

</div>
<div class="newButton">
    <button type="button" class="add-preparation">Add new preparation</button>
</div>

<div class="item">
    <div>Informações adicionais</div>
    <div><input type="text" name="information" value="{{ recipes.information}}"></div>
</div>

<script src="/scripts/fields.js"></script>