<div class="item">
    <div>Nome</div>
    <div><input type="text" name="name" value="{{ chefs.name}}"></div>
</div>
<div class="item">
    <div>Foto do chef</div>
    <div><input type="url" name="avatar_url" value="{{ chefs.avatar_url}}"></div>
</div>