{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="styles/index.css">
{% endblock styles %}

{% block header %}
    <form action="/recipes" method="get" id="search">
        <input type="text" name="filter" value="{{ filter }}" placeholder="Buscar uma receita">
        <button type="submit" class="button">
            <span class="material-icons">
                search
            </span>
        </button>
    </form>
{% endblock header %}

{% block content %}
    <main>
        <section id="hero-container">
            <div class="hero-text">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais no mundo inteiro.</p>
                <a href="/admin/chefs/create">SE CADASTRAR</a>
            </div>
            <div class="hero-img">
                <img src="/assets/cat.png" alt="">
                <img src="/assets/chef01.png" alt="">
                <img src="/assets/table.png" alt="">
            </div>
            <div class="background"></div>
        </section>

        <section id="access">
            <h3>Mais acessadas</h3>
            <div class="cards-container">
                {% for recipe in recipes %}

                    <div class="card" id="{{ recipe.recipe_id}}">
                        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                        <h4>{{ recipe.title }}
                            <h4>
                                <p>por
                                    <span>{{ recipe.name }}</span></p>
                            </div>
                        {% endfor %}
                    </div>
                </section>

            </main>
        {% endblock content %}
        {% block scripts %}{% endblock scripts %}