{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="styles/recipes.css">
{% endblock styles %}

{% block header %}
    <form action="/recipes" method="get">
        <input type="text" name="filter" value="{{ filter }}" placeholder="Buscar uma receita">
        <button type="submit" class="button">Buscar</button>
    </form>
{% endblock header %}

{% block content %}
    {% if filter %}
    <h2>Buscando por "{{ filter }}"</h2>
    {% endif %}
    <div class="cards-container">

        {% for recipe in recipes %}
            <div class="card-admin recipes-page" id="{{ recipe.recipe_id}}">
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                <div class="title">
                    <h4>{{ recipe.title }}
                    <h4>
                        <p>Por <strong>{{ recipe.name }}</strong></p>
                </div>
                    </div>
                {% endfor %}

            </div>

        {% endblock content %}