{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="styles/recipes.css">
{% endblock styles %}

{% block header %}
    <form action="/recipes" method="get">
        <input type="text" name="filter" value="{{ filter }}" placeholder="Buscar uma receita">
        <button type="submit" class="button">Buscar</button>
    </form>
{% endblock header %}

{% block content %}
    <h2>Buscando por "{{ filter }}"</h2>
    <div class="cards-container">
        {% for recipe in recipes %}
            <div class="card" id="{{ recipe.id}}">
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                <h4>{{ recipe.title }}
                    <h4>
                        <p>{{ recipe.author }}</p>
                    </div>
                {% endfor %}

                {# <div class="modal hide">
                    <div class="modal-content">
                        <div class="close-section">
                            <div class="close-toggle">
                                <div class="one"></div>
                                <div class="two"></div>
                            </div>
                        </div>
                    </div>
                </div> #}

            </div>

        {% endblock content %}

        {% block scripts %}
        {% endblock scripts %}