.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.title h3 {
    font-size: 2.2rem;
    margin-bottom: 1em;
    color: var(--primary-txt-color);
}

.item {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--secondary-txt-color);
}

.send {
    display: flex;
    margin: 0 auto;
}

.send button {
    margin: 2em auto;
}

.button {
    font-size: 1.4rem;  
    color: var(--white-color);
    padding: 0.5em 1.5em;
    background: var(--primary-color);
    border-radius: 0.5em;
    border: 1px solid var(--primary-color);
}

.send .btn-clean {
    background: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.delete {
    background: var(--desc-color);
}

input,
select {
    width: 100%;
    outline: none;
    border: 1px solid var(--desc-color);
    color: var(--input-txt-color);
    padding: 1em;
    font-size: 1.6rem;
    border-radius: 0.5em;
    opacity: 0.7;
    margin: 0.5em 0;
}

.newButton button {
    margin: 0.5em 0 1em;
    font-size: 1.4rem;
    font-weight: 700;
    display: block;
    color: var(--primary-color);
    background: none;
}

.item:last-child input {
    height: 250px;
}

.item select {
    background: none;
}

.aside { 
    display: flex;
}   

.aside .item {
    width: 100%;
}

.aside .item input {
    height: 100%;
}

.sub-item {
    width: 100%;
    display: flex;
    align-items: center;
}

.sub-item .newButton {
    margin: 2em 0.3em 0;
    transform: scale(0.6);
    opacity: 0.6;
}

.aside .item + .item{
    margin-left: 1em;
}