.recipe-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
}

.recipe-title h3 {
    font-size: 2.2rem;
}


.chef-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
}

.chef-title h3 {
    font-size: 2.2rem;
}

.cards-container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr ));
    gap: 20px;
}

.card-admin {
    display: flex;
    /* align-items: center; */
    margin-top: 1em;
    transition: 200ms ease;
    opacity: 0.95;
}

.card-admin .img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 1em;
    overflow: hidden;
}

.card-admin img {
    transition: 250ms ease;
    width: 100%;
    height: 100%;   
    object-fit: cover;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .1);
}

.card-admin img:hover {
    transform: scale(1.1);
}

.card-admin .title h4 {
    font-size: 1.8rem;
    font-weight: 500;
}

.card-admin .title a {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-color);
}


section.grid {
    display: grid;
    grid-template: auto 230px 150px / 1fr;
}

section.grid .pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    align-self: end;
    justify-self: center;
    margin-bottom: 3em;
}

.deactivated {
    opacity: 0.5;
}

.pagination span,
.pagination a {
    padding: 0.5em .8em;
    margin-right: 0.25em;
    color: var(--paginate-primary);
    background: var(--paginate-secondary);
    border-radius: 0.5em;
}

.pagination a {
    cursor: pointer;
}

.pagination .middle-page {
    font-weight: 700;

    color: var(--paginate-secondary);
    background: var(--paginate-primary);
}