#hero-container {
    margin-top: 2em;
    width: 100%;
    height: 366px;

    /* background: var(--secondary-color); */
    border-radius: 2em;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 500px; 
    overflow: hidden;    
}

@keyframes growing {
    0% {
        transform: translateX(-850px);
    }
    100% {

    }
}

#hero-container .hero-text {
    align-self: center;
    /* padding-left: 4em; */
    line-height: 2em;
}

#hero-container .hero-text a {
    margin-top: 1.5em;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    background: var(--primary-color);
    padding: 0.5em 3em;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    border-radius: 2em;
    animation: moving-text 800ms ease 0.2s forwards;
    opacity: 0;
}

@keyframes moving-text {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    } 
    100% {
        opacity: 1;
    }
}

#hero-container .hero-img {
    justify-self: center;
    align-self: end;
    /* animation: moving-img 800ms cubic-bezier(0, 0.96, 0.41, 0.99); */
}

@keyframes moving-img1 {
    0% {
        opacity: 0;
        transform: scale(1.5, 0.6) translate(290px, 250px) translate(0, 250px) ;
    } 
    100% {
    }
}
@keyframes moving-img2 {
    0% {
        opacity: 0;
        transform: translate(290px, 500px) skew(50deg) ;
    }
    100% {
    }
}

.hero-img {
    position: relative;
}

.hero-img img:nth-child(1) {
    height: 180px;
    position: absolute;
    bottom: 30px;
    left: 50px;
    animation: moving-img1 1000ms cubic-bezier(0, 0.96, 0.41, 0.99);
}

.hero-img img:nth-child(2) {
    height: 350px;
    transform: translate(180px, 15px); 
    animation: moving-img2 1000ms cubic-bezier(0, 0.96, 0.41, 0.99);
}

.hero-img img:nth-child(3) {
    transform: scaleY(0.8) translateY(-10px);
    animation: moving-img2 1000ms cubic-bezier(0, 0.96, 0.41, 0.99);
}


#hero-container .hero-text h1,
#access h3 {
    font-family: Bree serif;
    font-weight: normal;
}

#hero-container .hero-text h1 {
    font-size: 4.2rem;
    animation: moving-text 800ms ease;
    color: #3b2d2d;
}

#hero-container .hero-text p {
    margin: 1.5em 0 0.8em;
    font-size: 1.8rem;
    opacity: 0.8;
    animation: moving-text 1000ms ease;
}

#access {
    margin: 5em 0;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.3fr));
    gap: 20px;
}

#access h3 {
    font-size: 2.2rem;
}

.card {
    box-shadow: 0 20px 30px 0 rgb(0, 0, 0,0.1);
    border-radius: 1em;
    padding: 0.5em;
    transition: 200ms ease;
    opacity: 0.95;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-6px) scale(1.0);
    opacity: 1;
}

.card h4 {
    font-size: 1.6rem;
    font-weight: 500;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 1em;
    margin: 1em 0;
}

.card p {
    font-size: 1.4rem;
    color: var(--desc-color);
}

.card p span {
    color: var(--primary-color);
}

