
@import 'https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet';
@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap" rel="stylesheet';

:root {
    --primary-color: #df8172;
    --secondary-color: #FBDFDB;
    --white-color: #eeeeee;
    --desc-color: #87898A;
    --font-color: #2c2c2c;

    --delete-button: #fd3d40;

    --error-bg-color: #f87c7e;
    --error-txt-color: #b13a3c;
    --alert-bg-color: #f2ff91;
    --alert-txt-color: #abb836;
    --success-bg-color: #73f885;
    --success-txt-color: #3faa4d;

    --paginate-primary: #F06769;
    --paginate-secondary: #FEF0EF;
    --paginate-terciary: #e9a2a3;

    --primary-txt-color: #323335;
    --secondary-txt-color: #59636b;
    --input-txt-color: #555C60;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;  
    font-family: Raleway;
    color: var(--font-color );

    height: 100vh;
    position: relative;
    font-size: 1.6rem;
    line-height: 1.8em;

    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 0 1em;
}

header .links a {
    margin-right: 2em;
    color: #555454;
}

header a {
    position: relative;
}

header input {
    padding: 0.5em 1em;
    font-size: 1.4rem;
    border: 1px solid #aaa9a9;
    border-radius: 0.5em;
}

.button {
    font-size: 1.4rem;
    color: var(--primary-color);
    padding: 0.5em 1.5em;
    background: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;
    display: inline-block;
    cursor: pointer;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.button:hover {
    color: #fff;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.page{
    width: 140%;
    height: 10px;
    background: var(--secondary-color);

    position: absolute;
    top: 10px;
    right: -10px;
    z-index: -1;
}

.content {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

footer {
    margin: auto auto 0;
    padding: 1em 0;
}
