.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    position: relative;
}

#access h3 {
    font-size: 2.2rem;
}

.card h4 {
    font-size: 1.6rem;
    font-weight: 500;
}

.card img {
    width: 100%;
    border-radius: 1em;
    margin: 1em 0;
}

.card p {
    font-size: 1.4rem;
    color: var(--desc-color);
}

.modal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.8);    
    display: grid;
}

.modal-content {
    width: 50%;
    height: 70%;
    background: var(--white-color);
    align-self: center;
    justify-self: center;

    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
}

.one,
.two {
    height: 3px;
    margin-bottom: 1em;
    width: 100%;
    background: black;
}

.hide {
    display: none;
}