.cards-container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.3fr));
    gap: 20px;
}

.card-admin {
    display: flex;
    flex-direction: column;

    margin-top: 1em;
    transition: 200ms ease;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
    opacity: 0.95;
    border-radius: 1em;
    cursor: pointer;
}

.card-admin:hover {
    transform: translateY(-6px) scale(1.01);
    opacity: 1;
}

.card-admin img {
    max-height: 150px;
    border-radius: 1em 1em 0 0;
}

.title {
    padding: 1em;
}

.card-admin .title h4 {
    font-size: 1.6rem;
    font-weight: 500;
}

.card-admin .title p {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--desc-color);
}

.card-admin .title p strong {
    color: var(--primary-color);
}


#access h3 {
    font-size: 2.2rem;
}
