{% extends 'admin-layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/form-fields.css">
{% endblock styles %}

{% block content %}
    <form action="/admin/recipes" method="POST">
        <section class="container">
            <div class="title">
                <h3>Criando receita</h3>
            </div>
            {% include 'admin/recipes/fields.njk' %}
            <div class="send">
                <button type="submit" class="button">Salvar</button>
                {# <button type="submit" class="button btn-clean">Apagar campos</button> #}
            </div>
        </section>
    </form>
{% endblock content %}