{% extends 'admin-layout.njk' %}

{% block styles %}
<link rel="stylesheet" href="/styles/form-fields.css">
{% endblock styles %}

{% block content %}
    <form id="form-edit" method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
        <section class="container">
            <div class="title">
                <h3>Criando receita</h3>
                <div class="buttons">
                    <button form="form-delete" type="submit" class="button delete">Deletar</button>
                    <button form="form-edit" type="submit" class="button">Salvar receita</button>
                </div>
            </div>
            {% include 'admin/recipes/fields.njk' %}

            <input type="hidden" name="id" value="{{ recipes.recipe_id }}">
        </section>
    </form>
    <form id="form-delete" method="POST" action="/admin/recipes?_method=DELETE">
        <input type="hidden" name="id" value="{{ recipes.recipe_id }}">
       
       {% include 'confirm.njk' %}
    </form>

{% endblock content %} 