<div class="aside">
    <div class="item">
        <div>Nome da receita</div>
        <div><input type="text" name="title" value="{{ recipe.title}}"></div>
    </div>

    <div class="item">
        <div>Chef</div>
        <div>
            <select name="chef_id">
                {% for chef in chefs %}
                    <option value="{{chef.id}}" {% if recipes.chef_id == chefs.id %} selected="selected" {% endif %}>
                        {{ chef.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="item">
    <div>Imagem da receita</div>
    <div class="gallery" id="recipe_galery">
        <div id="photos-upload">
            <input type="file" name="recipe_photos" id="photos-input" multiple="multiple" accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
            <span class="material-icons">add</span>
        </div>
        <div id="photos-preview">
            {% if files %}
                {% for image in files %}
                    <div id="{{image.id}}" class="photo">
                        <img src="{{image.path}}">
                        <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">
                            delete
                        </i>
                    </div>
                {% endfor %}
                <input type="hidden" name="removed_files">
            {% endif %}
        </div>
    </div>
</div>

<div class="aside">

    <div class="sub-item">
        <div id="ingredients" class="item">
            <div>Ingredientes</div>
            {% if not recipe.ingredients %}
                <div class="ingredient">
                    <input type="text" name="ingredients[]" value="" placeholder="Novo ingrediente">
                </div>
            {% endif %}
            {% for ingredient in recipe.ingredients %}
                <div class="ingredient">
                    <input type="text" name="ingredients[]" value="{{ ingredient }}">
                </div>
            {% endfor %}

        </div>
        <div class="newButton">
            <button type="button" class="add-ingredient">
                {# Add new Ingredient #}
                <img src="/assets/plus.svg" alt="">
            </button>
        </div>
    </div>

    <div class="sub-item">
        <div id="preparation" class="item">
            <div>Modo de preparo</div>
            {% if not recipe.preparation %}
                <div class="preparation">
                    <input type="text" name="preparation[]" value="" placeholder="Adicione um modo de preparo">
                </div>
            {% endif %}
            {% for prepare in recipe.preparation %}
                <div class="preparation">
                    <input type="text" name="preparation[]" value="{{ prepare }}">
                </div>
            {% endfor %}

        </div>
        <div class="newButton">
            <button type="button" class="add-preparation">
                {# Add new preparation #}
                <img src="/assets/plus.svg" alt="">
            </button>
        </div>
    </div>
</div>
<div class="aside">

    <div class="item">
        <div>Informações adicionais</div>
        <div><input type="text" name="information" value="{{ recipe.information}}"></div>
    </div>
</div>

<script src="/scripts/fields.js"></script>