{% extends 'admin-layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/admin/recipes/recipes.css">
{% endblock styles %}

{% block content %}
<section class="grid">
    <div class="recipe-title">
        <h3>Gerenciar receitas</h3>
        <a href="/admin/recipes/create" class="button">Nova receita</a>
    </div>
    <div class="cards-container">
        {% for recipe in recipes %}
            <div class="card-admin" id="{{recipe.id}}">
                <img src="{{ recipe.image}}" alt="{{ recipe.name}}">
                <div class="title">
                    <h4>{{ recipe.title}}</h4>
                    <p>por
                        {{ recipe.chef_name}}</p>
                    <a href="#" id="view">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </div>

     <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}} data-filter={{filter}}></div>
     </section>
     
{% endblock content %}

{% block scripts %}
    <script src="/scripts/main.js"></script>
{% endblock scripts %}