{% extends 'admin-layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/recipe.css">
{% endblock styles %}

{% block content %}
    <section class="recipe">
        <div class="title">
            <h1>Receita:
                {{ recipe.title }}</h1>
            <a href="/admin/recipes/{{ recipe.recipe_id }}/edit" class="button">Editar receita</a>
        </div>

        <div class="hero">
            <img src="{{ recipe.image}}" alt="{{ recipe.title }}">
            <h1>{{  recipe.title }}</h1>
            <p>por
                {{  recipe.name }}</p>
        </div>

        <div class="recipe-description">
            <h3>Ingredientes
                <span class="span">esconder</span></h3>
            <div class="description">
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>
                            {{ ingredient }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="recipe-description">
            <h3>Modo de preparo
                <span class="span">esconder</span></h3>
            <div class="description">
                <ul>
                    {% for preparo in recipe.preparation %}
                        <li>{{ preparo }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="recipe-description">
            <h3>Informações adicionais
                <span class="span">esconder</span></h3>
            <div class="description">
                <p>{{ recipe.additional_info }}</p>
            </div>
        </div>
    </section>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/your-recipe.js"></script>
{% endblock scripts %}