<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include 'parts/adminLinks.njk' %}
        {% block styles %}{% endblock styles %}
        {% block title %}
            <title>Teste</title>
        {% endblock title %}

    </head>
    <body>
        {% include 'parts/messages.njk' %}

        <div class="content admin">
            <header>
                <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"></a>
                <nav class="links">
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                    <a href="/admin/users/profile">Usuários</a>
                </nav>  
                <form action="/admin/users/logout" method="post" class="logout">
                    <button>
                        <i class="material-icons">login</i>
                    </button>
                </form>

                {% block header %}{% endblock header %}
            </header>

            {% block content %}{% endblock content %}

        </div>
        {% block modal %}{% endblock modal %}

        {# <footer>
            <p>Todos direitos reservados, receitas Foodfy.
            </p>
        </footer> #}
        <script src="/scripts/main.js"></script>
        <script src="/scripts/image-manager.js"></script>
        <script src="/scripts/validation.js"></script>

        {% block scripts %}{% endblock scripts %}
    </body>
</html>