<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include 'parts/links.njk'%}        
        {% block styles %}{% endblock styles %}        
        {% block title %}
            <title>Foodfy</title>
        {% endblock title %}

    </head>
    <body>
        <div class="content">
            <header>
                <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"></a>
                <nav class="links">
                    <a href="/About">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/admin/recipes">Admin</a>
                </nav>
                {% block header %}{% endblock header %}
            </header>

            {% block content %}{% endblock content %}
        </div>

        <footer>
            <p>Todos direitos reservados, receitas Foodfy.
            </p>
        </footer>
        <script src="/scripts/main.js"></script>

        {% block scripts %}{% endblock scripts %}
    </body>
</html>