{% if error %}
<div class="messages error">
  {{error}}  
</div>
{% endif %}

{% if alert %}
<div class="messages alert">
  {{alert}}
</div>
{% endif %}

{% if success %}
<div class="messages success">
  {{success}}
</div>
{% endif %}