{% if erro %}
  <div class="messages erro">
    <div class="messages-box">
      <i class="material-icons">error</i>
      {{erro}}
    </div>
  </div>
{% endif %}

{% if alert %}
  <div class="messages alert">
    <div class="messages-box">
      <i class="material-icons">info</i>
      {{alert}}
    </div>
  </div>
{% endif %}

{% if success %}
  <div class="messages success">
    <div class="messages-box">
      <i class="material-icons">check_circle</i>
      {{success}}
    </div>
  </div>
{% endif %}